@model OnlineShop.Models.Book

@{
    ViewData["addColClass"] = true;
}

<h1>@Model.Title</h1>
<partial name="_ImageCarouselPartial" model="Model"></partial>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublisherName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublisherName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating) / 5
        </dd>

        @if (Model.PagesAmount != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PagesAmount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PagesAmount)
            </dd>
        }

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)$
        </dd>

        @if (!string.IsNullOrEmpty(Model.Author))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Author)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author)
            </dd>
        }
    </dl>
</div>