@model IEnumerable<OnlineShop.Models.Book>

@{
    ViewData["Title"] = "Books Catalog";
}

<h1>Catalog</h1>
<hr />

@if (userService.IsAdmin())
{
    <p>
        <a class="btn btn-outline-success" asp-action="Create">Create New</a>
    </p>
}

<div class="container text-center mt-5">
    <div class="row row-cols-4 gy-3 col-8 text-break m-auto">
        @foreach (var book in Model)
        {
            <div class="container d-block book-product-card">
                <partial name="_ImageCarouselPartial" model="book"></partial>

                <a class="link-offset-2 link-underline link-dark link-underline-opacity-0 " asp-controller="Books" asp-action="Details" asp-route-id="@book.Id">
                    <p class="mb-0">Title: @book.Title</p>
                    <p class="mb-0">Author: @book.Author</p>
                    <p class="mb-0">Rating: @book.Rating / 5</p>
                    <price current-price="@book.Price" previous-price="@book.PreviousPrice"></price>
                </a>

                <form method="post" asp-controller="Cart" asp-action="AddToCart">
                    <input type="hidden" name="bookId" value="@book.Id" />
                    <input type="hidden" name="quantity" value="1" />
                    <button type="submit" class="btn btn-primary"><img src="~/images/cart.png" style="width: 25px" /></button>
                </form>
            </div>
        }
    </div>
</div>